{"openapi":"3.1.0","info":{"title":"Wint CX Backend API","description":"API documentation for Wint CX Backend","contact":{"name":"Wint Wealth","url":"https://www.wintwealth.com/"},"version":"1.0.0"},"servers":[{"url":"https://cx-beta.api.wintwealth.com/","description":"Test"},{"url":"http://localhost:5001","description":"Local"}],"tags":[{"name":"KYC SEBI","description":"SEBI KYC Demat Query"},{"name":"Admin Users","description":"ROOT-only management of admin accounts (beta only)"},{"name":"Auth","description":"Token issuance and authentication"},{"name":"Admin Auth","description":"Admin login and password rotation (beta only)"},{"name":"Bond Orders","description":"Bond purchase order status APIs"},{"name":"Admin Token Mint","description":"Mint user-impersonation tokens for E2E testing (beta only)"},{"name":"Admin Session Signals","description":"Read recent session signals for a phone number (beta only)"},{"name":"Admin Phone Mappings","description":"Manage phone → persona mappings for E2E test personas (beta only)"},{"name":"Health","description":"Health check endpoints"}],"paths":{"/admin/v1/phone-mappings/{phone}":{"put":{"tags":["Admin Phone Mappings"],"summary":"Upsert persona for a phone; set personaUserId=null to unbind","operationId":"upsertMapping","parameters":[{"name":"phone","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneMappingResponse"}}}}}},"delete":{"tags":["Admin Phone Mappings"],"summary":"Delete a phone mapping entirely","operationId":"deleteMapping","parameters":[{"name":"phone","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"responses":{"200":{"description":"OK"}}}},"/admin/v1/login/refresh":{"put":{"tags":["Admin Auth"],"summary":"Rotate own password; revokes current token, admin must re-login","operationId":"changePassword","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/auth/v1/token":{"post":{"tags":["Auth"],"summary":"Issue auth token for a validated session","operationId":"issueToken","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/auth/v1/refresh":{"post":{"tags":["Auth"],"summary":"Refresh an active auth token; rotates token, invalidates old one","operationId":"refreshToken","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/admin/v1/users":{"get":{"tags":["Admin Users"],"summary":"List all admin accounts (ROOT only)","operationId":"listAdmins","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminUserDto"}}}}}}},"post":{"tags":["Admin Users"],"summary":"Create a new admin account; returns generated temp password (ROOT only)","operationId":"createAdmin","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAdminRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateAdminResponse"}}}}}}},"/admin/v1/token":{"post":{"tags":["Admin Token Mint"],"summary":"Mint a user auth token for the given phone; no WhatsApp messageId required","operationId":"mintToken","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MintTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/admin/v1/phone-mappings":{"get":{"tags":["Admin Phone Mappings"],"summary":"List all phone mappings; optional filter by personaUserId","operationId":"listMappings","parameters":[{"name":"personaUserId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PhoneMappingResponse"}}}}}}},"post":{"tags":["Admin Phone Mappings"],"summary":"Create a phone → persona mapping; fails if phone already exists","operationId":"createMapping","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneMappingResponse"}}}}}}},"/admin/v1/login":{"post":{"tags":["Admin Auth"],"summary":"Admin login by email + password; returns admin token","operationId":"login","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}}}}},"/kyc/v1/demat-query":{"get":{"tags":["KYC SEBI"],"summary":"Fetch product parameters for SEBI KYC Demat Query","operationId":"getDematQuery","parameters":[{"name":"userMobileNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DematQueryResponse"}}}}}}},"/bonds/orders/v1/status":{"get":{"tags":["Bond Orders"],"summary":"Fetch bond purchase order status","operationId":"getOrderStatus","parameters":[{"name":"userMobileNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"fromEpochMs","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BondOrderStatusResponse"}}}}}}},"/admin/v1/session-signals":{"get":{"tags":["Admin Session Signals"],"summary":"List recent session signals for a phone (sorted by receivedAt desc)","operationId":"listSignals","parameters":[{"name":"phone","in":"query","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SessionSignalDto"}}}}}}}},"/":{"get":{"tags":["Health"],"summary":"Health check","operationId":"root","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/admin/v1/users/{adminId}":{"delete":{"tags":["Admin Users"],"summary":"Deactivate an admin account (ROOT only; cannot self-deactivate)","operationId":"deactivateAdmin","parameters":[{"name":"adminId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string","example":"ck_live_xxxxxxxx"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"PhoneMappingRequest":{"type":"object","properties":{"phone":{"type":"string","minLength":1},"personaUserId":{"type":"integer","format":"int64"},"personaLabel":{"type":"string"},"notes":{"type":"string"}},"required":["phone"]},"PhoneMappingResponse":{"type":"object","properties":{"phone":{"type":"string"},"personaUserId":{"type":"integer","format":"int64"},"personaLabel":{"type":"string"},"notes":{"type":"string"},"createdBy":{"type":"string"},"createdAt":{"type":"integer","format":"int64"},"updatedBy":{"type":"string"},"updatedAt":{"type":"integer","format":"int64"}},"required":["createdAt","createdBy","phone"]},"ChangePasswordRequest":{"type":"object","properties":{"oldPassword":{"type":"string","minLength":1},"newPassword":{"type":"string","minLength":1}},"required":["newPassword","oldPassword"]},"AuthRequest":{"type":"object","properties":{"userMobileNumber":{"type":"string","minLength":1},"messageId":{"type":"string","minLength":1}},"required":["messageId","userMobileNumber"]},"AuthResponse":{"type":"object","properties":{"token":{"type":"string"},"expiresAt":{"type":"integer","format":"int64"}},"required":["expiresAt","token"]},"RefreshTokenRequest":{"type":"object","properties":{"token":{"type":"string","minLength":1},"userMobileNumber":{"type":"string","minLength":1}},"required":["token","userMobileNumber"]},"CreateAdminRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1},"role":{"type":"string","minLength":1}},"required":["email","role"]},"CreateAdminResponse":{"type":"object","properties":{"adminId":{"type":"string"},"email":{"type":"string"},"role":{"type":"string"},"tempPassword":{"type":"string"}},"required":["adminId","email","role","tempPassword"]},"MintTokenRequest":{"type":"object","properties":{"phone":{"type":"string","minLength":1}},"required":["phone"]},"LoginRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1},"password":{"type":"string","minLength":1}},"required":["email","password"]},"LoginResponse":{"type":"object","properties":{"token":{"type":"string"},"adminId":{"type":"string"},"role":{"type":"string"},"passwordChangeOnly":{"type":"boolean"},"expiresAt":{"type":"integer","format":"int64"}},"required":["adminId","expiresAt","passwordChangeOnly","role","token"]},"DematQueryResponse":{"type":"object","properties":{"userName":{"type":"string"},"dematId":{"type":"string"},"instaDematStatus":{"type":"string"},"kycStatus":{"type":"string"},"investorStatus":{"type":"boolean"},"kycApprovedDate":{"type":"string","format":"date-time"},"instaDematApprovedDate":{"type":"string","format":"date-time"}},"required":["investorStatus"]},"BondOrderStatusItem":{"type":"object","properties":{"orderId":{"type":"integer","format":"int64"},"orderStatus":{"type":"string"},"paymentStatuses":{"type":"array","items":{"type":"string"}},"productName":{"type":"string"},"isin":{"type":"string"},"scheduledSettlementDate":{"type":"string","format":"date-time"},"orderCreatedAt":{"type":"string","format":"date-time"}},"required":["orderId","paymentStatuses"]},"BondOrderStatusResponse":{"type":"object","properties":{"orders":{"type":"array","items":{"$ref":"#/components/schemas/BondOrderStatusItem"}}},"required":["orders"]},"AdminUserDto":{"type":"object","properties":{"adminId":{"type":"string"},"email":{"type":"string"},"role":{"type":"string"},"active":{"type":"boolean"},"mustChangePassword":{"type":"boolean"},"createdBy":{"type":"string"},"createdAt":{"type":"integer","format":"int64"}},"required":["active","adminId","createdAt","email","mustChangePassword","role"]},"SessionSignalDto":{"type":"object","properties":{"messageId":{"type":"string"},"receivedAt":{"type":"integer","format":"int64"},"claimed":{"type":"boolean"}},"required":["claimed","messageId","receivedAt"]}}}}